<h2>All Heroines</h2>
<p><%= link_to "See All Powers", powers_path %></p>

<%= form_tag("/search", method: 'get') do %>
<%= label_tag(:powers, "Search by Power") %><br>
<%= text_field_tag(:powers, params[:powers], placeholder: "eg. super human strength") %>
<%= submit_tag('Search') %>
<% end %>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>

<h2><%= link_to "Make Your Own Heroine!", new_heroine_path %></h2>
