<h1>All Heroines</h1>

<h2>Search by superpower</h2>
<%= form_tag("#{heroines_path}/search", method: "get") do %>
  <%= label_tag(:q, "Search powers:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<h2>Index</h2>
<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine %>
    </li>
    <br>
  <% end %>
</ul>
